*{
    margin:0;
    padding: 0;
}
body{
    background-color: rgb(241, 229, 221);
}
.body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    height:200px;
    width:200px;
    margin-top:20px;
}
#text-field{
    height:30px;
    border: solid;
    border-color:rgb(134, 94, 103);
    border-radius: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}
#add-button{
    background-color: rgb(134, 94, 103);
    color: bisque;
    width:160px;
    border: none;
    border-radius: 10px;
    height: 35px;
}